@font-face {
  font-family: spacegrotesk;
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: spacegrotesk;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  cursor: url(/assets/img/1.jpeg);
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
}

.card {
  width: 483px;
  background-image: url(../img/vertical-bg.png);
  background-repeat: no-repeat;
  padding-block: 187px;
}

.card- {
  width: 447px;
  background-image: url("../img/card-frontbg.png");
  background-repeat: no-repeat;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 64px;
  color: white;
  border-radius: 8px;
  position: relative;
  left: 164px;
}

.card-info {
  width: 383px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-numbers {
  width: 372px;
  font-size: 28px;
  font-weight: 500;
  line-height: 35.73px;
  text-align: left;
}

.card-my-name {
  width: 383px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.86px;
  letter-spacing: 2px;
  text-align: left;
}

.month-year {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.86px;
  letter-spacing: 2px;
  text-align: right;
}

.card-back {
  width: 447px;
  background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  position: relative;
  left: 258px;
  top: 37px;
  padding-bottom: 47px;
}

.black-line {
  margin-top: 24px;
  width: 100%;
  height: 54px;
  background-color: rgba(47, 47, 47, 1);
}

.cvc {
  width: 361px;
  background-color: rgba(173, 181, 190, 1);
  text-align: end;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
}

.card-detail {
  width: 381px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.card-detail p {
  font-size: 12px;
  font-weight: 900;
  line-height: 15.31px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(33, 9, 47, 1);
  margin-bottom: 9px;
}

.card-detail input {
  width: 381px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid rgba(223, 222, 224, 1);
}

.card-detail input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: left;
  color: rgba(33, 9, 47, 1);
  opacity: 25%;
}

.exp-date-cvc {
  display: flex;
  align-items: end;
  gap: 20px;
}

.month-year-form {
  width: 170px;
  display: flex;
  flex-direction: column;
}

.month-year-form p {
  font-size: 12px;
}

.month-year-form input {
  width: 80px;
}

.cvc-form {
  width: 191px;
}

.cvc-form input {
  width: 191px;
}



button {
  width: 381px;
  color: white;
  background-color: rgba(33, 9, 47, 1);
  padding-block: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.thank {
  width: 381px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

.thank img {
  margin: auto;
  margin-bottom: 35px;
}

.thank h1 {
  width: 381px;
  font-size: 28px;
  font-weight: 500;
  line-height: 35.73px;
  letter-spacing: 3.422222137451172px;
  text-align: center;
  margin-bottom: 16px;
  color: #21092F;

}

.thank p {
  width: 263px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  color: #8F8694;
  text-align: center;
  margin-bottom: 48px;
}

@media (width <=1024px) {
  .card- {
    width: 447px;
    left: 80px;
    top: 0;
    z-index: 2;
  }
  .card-back {
    width: 447px;
    position: relative;
    left: 80px;
    top: 32px;
  }
}

@media (width <=375px) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 375px;
    padding: 0 0 51px 0;
  }

  .card- {
    width: 286px;
    background-image: url("../img/card-frontbg.png");
    background-repeat: no-repeat;
    padding: 17px 19px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 37px;
    color: white;
    border-radius: 8px;
    position: absolute;
    left: 17px;
    top: 149px;
    z-index: 2;
  }

  .card-info {
    width: 245px;
    gap: 17px;
  }

  .card-numbers {
    width: 239px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.97px;
    text-align: left;
  }

  .card-my-name {
    width: 245px;
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-size: 9px;
    font-weight: 500;
    line-height: 11.48px;
    text-align: left;
  }

  .month-year {
    font-size: 9px;
    font-weight: 500;
    line-height: 11.48px;
    text-align: left;
  }

  .card-back {
    width: 286px;
    gap: 15px;
    border-radius: 8px;
    position: relative;
    left: 73px;
    top: 32px;
    padding-bottom: 62px;
    z-index: 1;
  }

  .card-back img {
    display: none;
  }

  .black-line {
    margin-top: 24px;
    width: 100%;
    height: 34px;
    background-color: rgba(47, 47, 47, 1);
  }

  .cvc {
    width: 231px;
    background-color: rgba(173, 181, 190, 1);
    text-align: end;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
  }

  .card-detail {
    width: 327px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 26px;
  }

  .card-detail p {
    font-size: 12px;
    font-weight: 900;
    line-height: 15.31px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(33, 9, 47, 1);
    margin-bottom: 9px;
  }

  .card-detail input {
    width: 327px;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid rgba(223, 222, 224, 1);
  }

  .card-detail input::placeholder {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.97px;
    text-align: left;
    color: rgba(33, 9, 47, 1);
    opacity: 25%;
  }

  .exp-date-cvc {
    display: flex;
    align-items: end;
    gap: 11px;
  }

  .month-year-form {
    width: 152px;
    display: flex;
    flex-direction: column;
  }

  .month-year-form p {
    font-size: 12px;
  }

  .month-year-form input {
    width: 72px;
  }

  .cvc-form {
    width: 164px;
  }

  .cvc-form input {
    width: 164px;
  }

  button {
    width: 327px;
    color: white;
    background-color: rgba(33, 9, 47, 1);
    padding-block: 15px;
    border: none;
    border-radius: 8px;
  }

  .thank {
    width: 327px;
    margin: auto;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }

  .thank button {
    margin-top: 13px;
  }

}

